version: '3'
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  keycloak:
    image: jboss/keycloak:4.0.0.Final
    environment:
      DB_VENDOR: postgres
      DB_ADDR: db
      DB_PORT: 5432
      DB_DATABASE: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_SCHEMA: public
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_USER: ${KEYCLOAK_USER}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
    ports:
      - "8080:8080"
    command:
      - "-b 0.0.0.0"
      - "-Dkeycloak.import=/opt/jboss/keycloak/realm_import/realm-export.json"
    depends_on:
      - db
    volumes:
      - ./config/keycloak/realm_import:/opt/jboss/keycloak/realm_import
      - ./config/keycloak/themes/my-theme/:/opt/jboss/keycloak/themes/my-theme/
      - ./create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql

  frontend:
    build:
      context: ./stop_covid_front
      dockerfile: ./Dockerfile
    volumes:
      - ./stop_covid_front:/app/frontend
      - /app/frontend/node_modules
    ports:
      - "3000:3000"

  keycloak-service:
    build: keycloak/
    image: keycloak
    depends_on:
      - db
    ports:
      - "8000:8000"

  kafka-service:
    build: kafka/
    image: kafka
    depends_on:
      - db
      - broker
    links:
      - broker:broker
    ports :
      - "8083:8083"
    volumes:
      - position-logs:/usr/src/positions-logs

  zookeeper:
    image: confluentinc/cp-zookeeper:5.4.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - ./kafka/zoo/data:/var/lib/zookeeper/data
      - ./kafka/zoo/log:/var/lib/zookeeper/log

  broker:
    image: confluentinc/cp-kafka:5.4.1
    hostname: broker
    container_name: broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    volumes:
      - position-logs:/var/lib/kafka/data

      #gradle-continuous-builder:
      #image: gradle:6.7.0-jdk11
      #volumes:
      #- gradle-build:/home/gradle/project/.gradle
      #- ./:/home/gradle/project:cached
    #working_dir: /home/gradle/project
    #command: [ "gradle","build","--continuous" ]

volumes:
  position-logs: